a
{
  font-weight:bold;
  color:black;
  text-decoration: none;
}
a:hover
{
  color: #28a745;
  text-decoration: none;
}
a.card, a.card:visited
{
  font-weight: normal;
  width: 220px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  margin: 15px;
  color: black;
  float:none;
  overflow: hidden;
  background-color:white;
  display: inline-block;
}
a.card:hover
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  color: #28a745;
}

.review, .review:visited
{
  border-radius: .25rem;
  font-weight: normal;
  width: 300px;
  height: 220px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.2s;
  margin: 15px;
  color: black;
  float:none;
  overflow-x: hidden;
  overflow-y:scroll;
  background-color:white;
  display: inline-block;
  cursor:default;
}
.review:hover
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  color: #28a745;
}

div.reviewholder
{
  text-align: left;
  padding: 2px 16px;
  /*white-space: nowrap;
  text-overflow: ellipsis;*/
  overflow-x: hidden;
}

.fifty
{
  width:30px;
  flex-grow:0;
}

.hunnit
{
  width: 220px;
  flex-grow:0;
}
.cutoff
{
  overflow: hidden;
  text-overflow: ellipsis;
}

div.albumholder
{
  text-align: left;
  padding: 2px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.holder
{
    position: relative;
}

.results
{
  position: absolute;
  border: 3px solid #AFD0F3;
  border-radius: 0 0 .25rem .25rem;
  margin-top: -2px;
  border-top:none;
  width: 100%;
  z-index: 500;
  background-color: #FFFFFF;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  display: none;
}

input:focus + .results, .results:hover
{
    display: block;
}
.clickable
{
  cursor:pointer;
}
.clickable:hover
{
  color: #28a745;
}

.seccol
{
  width:50px;
  flex-grow:0;
}

.songList
{
  max-height:500px;
  width:400px;
  padding: 10px;
  overflow-y:auto;
  overflow-x:hidden;
  background-color:white;
  text-align:left
  border-radius: .25rem !important;
}
.songrow:hover
{
  background-color:#e9ecef;
}

.notext
{
  cursor:default;
}

.album
{
  color: black;
  cursor: pointer;
  padding: 10px 25px;
  width:100%;
  display:block;
  text-decoration: none;
}

#albumListing
{
  width:1030px;
  margin: auto;
}

.album:hover
{
  color: #28a745;
  background-color: #EEEEEE;
}
