a.card, a.card:visited
{
  width: 220px;
  height: 350px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  margin: 15px;
  color: black;
  float:none;
  background-color:white;
  display: inline-block;
}
span.card
{
  overflow:none;
}
a.card:hover
{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  text-decoration: none;
  color: black;
}

div.albumholder
{
  text-align: left;
  padding: 2px 16px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
